@media only screen and (max-width:769px){
    /* left start  */
    .left{
        display: none;
    }
    /* left finish  */
    /* right start  */
    .right{
        width: 100%;
        /* background-color: red;  */
    }
    .right .section-1{
        width: 95% ;
        min-height: 280px;
        padding: 1rem 1rem;
        margin: 0 auto;
    }

    .right .section-1 h1{
        margin-right: 80px;
    }
    .right .section-1 .section-1box{
        width: 95% ;
        margin: .1rem auto;
    }
    .right .section-1 .box{
        width: 100%;
        height: 50px;
    }
    .right .section-1  .content{
        width: 70% ;
        margin: 0 auto;
    }
    .right .section-1 .img {
    }
    .right .section-1 img {
        width: 100%;
        margin: auto 0;
    }
    /* .services start  */
    .services{
        width: 95%;
        margin: 0 auto;
    }
    .services .services-box{
        width: 95%;
            
        display: flex;
        justify-content: space-between;
 
        flex-wrap: wrap;  
    }
    .services .services-box .box{
        width: 48%;
        margin-bottom: 21px;

    }

    /* .services start  */

    .my-work{
        width: 95%;

        
    }
    /* right finish */

} 
@media only screen and (max-width:320px){
    /* left start  */
    .left{
        display: none;
    }
    /* left finish  */
    /* right :start  */
    .right{
        width: 100%;
        /* background-color: red;  */
    }
    .right .section-1{
        width: 95% ;
    flex-direction:column-reverse; 
       min-height: 25rem;
        margin: 0 auto;
    }
    .right .section-1 h1{
        margin-right: 50px;
        display: flex;
    }
    .right .section-1 .section-1box{
        width: 95% ;
        margin: 10px auto;
    }
    .right .section-1 .box{
        width: 100%;
    }
    .right .section-1  .content{
        width: 100% ;
        margin: 0 auto;

    }
    .right .section-1 img {
        width: 90px;
    }

    /* right finish  */
}