*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --primary:  rgba(40, 36, 52, 0.966);
    --primary2:#ffc107;
    --base:#000000;
    --white2:#8c8c8e;
}
body{
    background-image: linear-gradient(to top, rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(./image/banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}
.h2{
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
    margin-bottom: 1rem;
}
/* left staet  */
.left {
    width: 20%;
    height: 100vh;
    margin-left: 1%;

}
.left .fas {
    color: var(--primary2);
    /* margin-right: 20px;  */

}
.left .sec-1{
    width: 10%;
    align-items: center;
    padding: 30px;


}
.left .sec-1 .img{
    width: 50%;
    min-height: 120px;
    margin: 0 auto;


}
.left .sec-1 img{
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;


}
.sec-2{
    width: 100%;
    padding: 20px;
    background-color: var(--base    );
    margin-top: 10px;
    /* margin-left: 50px;  */
    color: #8c8c8e;
    
}

.sec-2 h3{
    /* border: 2px solid red ; */
    color: white;
    font-weight: 500;
    padding-left : 40px;
    display: flex;
    font-size: 13px;

}
.sec-2-2 h3{
    margin: 1rem 0;
    padding: 0;
    color: var(--white2);
    
}

.sec-2-2 hr{
    margin: 2rem 1rem;
    padding: 0;
    width: 100%;
    margin: 0;
}
.left h2{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.left p {
    font-size: 15px;
    text-align: center;
    color: white;

}
.left .sec-1 {
    width: 100%;
    background-color: #403855;
}
.left .sec-2-2 h3 span .fas{
    color: var(--white2);
}
/* sec-4 :start  */
.left .sec-4{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: .5rem ;
    background-color: #403855;
    /* margin-left: 50px;  */
}
.left .sec-4 span .fab{
    /* margin: 15px 37px;  */
    color: #8c8c8e;
    font-size: 1.5rem;
    
    
}

/* sec-4 finish  */
/* left finish  */
/* right :start  */
.right{
    width: 80%;
}
/* right finish  */
.section-1{
    width: 80%;
    min-height: 8rem ;
    margin: 0 auto;
    background-color:#403855; 
    padding: 1rem 3rem;

}
.section-1 .section-1box {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.section-1 .content{
    width: 70%;
}
.section-1 h1{
    color: white;
    font-weight: 200;
    padding-top: 30px;
    
}
.section-1 p{
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.section-1 button{
    width: 130px;
    border: none;
    outline: none;
    height: 40px;
    background-color: var(--primary2);
    color: black; 
    margin-top: 30px;
    
}
.section-1 button:hover{
    background-color: #000000;
    color: white;
}
.section-1 .img{
    width: 30%;
}
 .section-1 .img img{
    border-radius: 100%;
    width: 60%;
    margin: auto;
    /* height: 150px;  */
}
/* .section-1 finish  */
/* services start  */
.services{
    width:  80%;
    margin: 1.5rem auto;
    color: white;  
    
}
.services .services-box{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.services .services-box .box{
    width: 32%;
    min-height: 300px;
    /* margin-left: 50px; */
    /* border: 2px solid red ; */
    color: white;
    background-color:  var(--primary);
    padding: 1rem;

}
.services .services-box .box p{
    line-height: 25 px;
    font-weight: 100;
}
.h3{
    font-size:20px ;
    font-weight: 300;
    margin:15px 0 ;
}
.btn2{
    background: none; 
    border: none;
    color: var(--primary2);
}


/* services finish  */
/* my work start  */
.my-work{
    width: 80%;
    margin: 0px auto;
    color: white;
    
}

/* my work finish  */
/* footer :start  */
.footer{
    width: 80%;
    margin-left: 150px;
    height: 300px;
    background-color: #403855;
    text-align: center;
    color: white;

}
.btn-3{
    background: none; 
    border: none;
    color: var(--primary2);
}

.footer img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
/* footer finish  */
