@media only screen and (max-width:769px){
    /* left start  */
    .left{
        display: none;
    }
    /* left finish  */
    /* right start  */
    .right{
        width: 100%;
    }
    .right .section-1{
        width: 95% ;
        height: 300px;
        margin: 0 auto;
    }
    .right .section-1 .section-1box{
        width: 95% ;
        margin: .1rem auto;
    }
    .right .section-1 .box{
        width: 100%;
        height: 100px;
    }
    .right .section-1  .content{
        width: 70% ;
        margin: 0 auto;
    }
    .services{
        width: 95%;
        margin: 0;
    }
    .services .services-box{
        width: 95%;
        display: flex;
        justify-content: space-between;
        flex-direction:initial;
        flex-wrap: wrap;
    }
    .services .services-box .box{
        width: 40%;
    }
    .services .services-box .box-3{
        
        margin-top:25px;
    }

    .my-work{
        width: 95%;

        
    }
    /* right finish */

} 